<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EnhancedLogin_Signup</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProcessLogin</servlet-name>
		<servlet-class>com.abc.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessLogin</servlet-name>
		<url-pattern>/callLoginProcess</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>com.abc.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProcessSignUp</servlet-name>
		<servlet-class>com.abc.SignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessSignUp</servlet-name>
		<url-pattern>/callSignUpProcess</url-pattern>
	</servlet-mapping>

</web-app>
